.control_menu {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background: var(--bg);
  padding: 1rem 0rem 1rem 2rem;
  position: fixed;
  width: 300px;
  height: 100%;
  right: 0px;
  top: 0px;
  border-left: 1px solid black;
  z-index: 1000;
}

.guest_host_container {
  display: flex;
  flex-direction: column;
}

.guest_host_button {
  margin-bottom: 1rem;
}

.button_section {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.field,
.remove_button {
  margin-bottom: 1rem;
}

.image_button {
  width: 100px;
  margin-bottom: 1rem;
}

.hidden_input {
  display: none;
}

.remove_button {
  background-color: rgb(241, 146, 146);
  box-shadow: none;
}
.remove_button:hover {
  background-color: red;
}

.download_header {
  margin-bottom: .5rem;
}

.download_list {
  display: flex;
  flex-wrap: wrap;
   margin-bottom: 1rem;
}

.download {
  font-family: "b_show_info";
  list-style-type: none;
  font-size: 14px;
  padding-right: .2rem;
}
