/*main_styles*/
.template_name {
  font-size: 28px;
  align-self: left;
}

.processor_container {
  display: flex;
  margin-bottom: 2rem;
}

.note {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: none;
  width: 400px;
  margin-top: 1rem;
}

.button_section {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.format_button {
  margin-top: 1rem;
  width: 120px;
}

.format_button {
  margin-right: 1rem;
}

.checkbox {
  width: 32px;
  height: 32px;
  margin-top: 1.2rem;
}
