.header_container {
  display: flex;
  width: 420px;
}

.image_container_wrapper {
  /* Compensate for the space the untransformed element would occupy */
  width: calc(1920px * 0.3);
  height: calc(1080px * 0.3);
  overflow: hidden;
  margin-top: 1rem;
}

.image_container_inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 1080px;
  width: 1920px;
  transform: scale(0.3);
  transform-origin: top left;
}

.image_container {
  position: absolute;
  top: 0;
  left: 0;

  width: 1920px;
  height: 1080px;
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
}

.obs {
  position: absolute;
  top: 960px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 80px;
}

.fr_logo {
  position: absolute;
  width: auto;
  height: 81px;
  top: 960px;
  left: 1794px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
}

.obs > p {
  font-size: 24pt;
  letter-spacing: 0.18em;
  line-height: 1;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.obs_text_first_child {
  font-family: "b_show_name", sans-serif;
  color: var(--fr_orange);
  margin-left: 1rem;
}

.obs_show_name {
  margin-left: .5rem;
  margin-right: .5rem;
}

.obs_text_host_name {
  font-family: "b_show_info";
  margin-right: .5rem;
}

.obs_location_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fr_orange);
  height: 80px;
}

.obs_text_location {
  font-family: "b_show_info";
  font-size: 24pt;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  letter-spacing: 0.18em;
  line-height: 1;
}
