

.header_container {
  display: flex;
  width: 420px;
}

.image_container_wrapper {
  /* Compensate for the space the untransformed element would occupy */
  width: calc(1920px * 0.3);
  height: calc(1080px * 0.3);
  overflow: hidden;
  margin-top: 1rem;
}

.image_container_inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 1080px;
  width: 1920px;
  transform: scale(0.3);
  transform-origin: top left;
}

.image_container {
  position: absolute; 
  top: 0;
  left: 0;

  width: 1920px;
  height: 1080px;
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
}

.template_bar,
.obs {
  position: absolute;
  top: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  /*width: 1920px;*/
  height: 80px;
}

.text,
.show_info,
.obs_text {
  font-size: 38pt;
  color: #000000;
  letter-spacing: 0.18em;
  line-height: 1;
}

.obs_text {
  font-size: 24pt;
}

.text {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.show_info,
.obs_text {
  font-family: "b_show_info", sans-serif;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.show_info_container {
  display: flex;
}

.show_info_container > p {
  font-size: 24pt;
}