.center {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 6rem;
}

.template_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-left: 4rem;
  width: 900px;
}

.dialog_button_container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.dialog_button_container > button {
  width: 200px;
}
