.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.processor_container {
  display: flex;
}

.image_container_wrapper {
  /* Compensate for the space the untransformed element would occupy */
  width: calc(1400px * 0.3);
  height: calc(1400px * 0.3);
  overflow: hidden;
  margin-right: 4rem;
}

.image_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 1400px;
  width: 1400px;
  background-color: #c4c4c4;
  transform: scale(0.3);
  transform-origin: top left;

  background-size: cover;
  background-position: center;
}

.template_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 1400px;
  height: 200px;
}

.fields {
  width: 400px;
}
.action_container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.action_container > button {
  width: 180px;
}

.clear_image_button {
  margin-right: 4rem;
}

.text,
.show_info {
  font-size: 38pt;
  color: #000000;
  letter-spacing: 0.18em;
  line-height: 1;
}

.text {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.show_info {
  font-family: "b_show_info", sans-serif;
  padding-right: .5rem;
  padding-left: .5rem;
}

.show_info_container {
  display: flex;
}

.show_info_container > p {
  font-size: 24pt;
}

.field {
  margin-bottom: 1rem;
}

.guest_host_container {
  display: flex;
  flex-direction: column;
}

.guest_host_button {
  margin-bottom: 1rem;
}
